@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* Colors */
$white: hsl(0, 0%, 100%);
$lightgray: hsl(212, 45%, 89%);
$grayishblue: hsl(220, 15%, 55%);
$darkblue: hsl(218, 44%, 22%);

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Outfit";
  margin: 0;
  padding: 0;
  font-size: 15px;
}

body {
  background-color: $lightgray;
}

.flex {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  box-shadow: 0px 5px 25px rgba(123, 135, 157, 0.5);
  width: 350px;
  margin: 1px;
  background-color: $white;
  padding: 1em;
  text-align: center;
  border-radius: 20px;
  box-shadow: $grayishblue 20px;
  .img-container {
    img {
      width: 100%;
      border-radius: 20px;
    }
  }
  .text-container {
    margin: 1.3em;
    h1 {
      color: $darkblue;
      font-size: 1.6rem;
      font-weight: 700;
      margin: 0;
    }
    p {
      padding: 0 0.9em;
      margin-top: 1em;
      color: $grayishblue;
      font-weight: 400;
    }
  }
}
